@import 'bulma/css/bulma.css';
@import 'bulma/css/bulma.min.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content-is-vcentered {
  display: flex;
  flex-wrap: wrap;
  align-content: center; /* used this for multiple child */
  align-items: center; /* if an only child */
}

h3{
  font-size: 21px;
}

h4{
  font-size: 16px;
}

h5{
  font-size: 14px;
}

.jobentry{
  /* margin-left: 1em ; */
  padding-left: 0;
}

.job-company {
  /* padding: 0em !important; */
  /* margin-left: 1em; */
  margin-bottom: 0px;
  font-style: italic;
  color: rgb(48, 46, 68);
  line-height: 1em;
}
.job-title {
  padding: 0em !important;
  /* margin-left: 2em ; */
  margin-top: 0;
  /* padding: 0; */
  color: rgb(168, 142, 86);
  font-weight: bold;

}

.job-points{
  /* margin-left: 1em ; */
  margin-top: 1em;
  /* max-width: 800px; */
}

.job-date {
  color: gray;
}

.wrapper{
  position:relative;
  cursor: pointer;
}

.wrapper:hover{
  border: 5px;
  border-style: solid;
  border-color: rgb(168, 142, 86);
}

.wrapper .text {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
  font-size: 24px;
  color: black;
}
.wrapper:hover .text {
  visibility: visible;
  border: 5px;
}
.wrapper:hover img{
  visibility: hidden;
}

.social {
  cursor: 'pointer';
  margin: 0px;
  max-width:'24px';
  display: 'inline-block' !important;
}